<form action="/login" method="post">
   <h1>System Login</h1>
   <input type="email" name="email" id="" required>
   <br><br>
   <input type="password" name="password" id="" required>
   <br><br>
   <input type="submit" value="Login">
</form>