<form action="/register" method="post">
   <h1>Student Registration</h1>
   Full name: <input type="text" name="name" id="" required>
   <br><br>
   Email: <input type="email" name="email" id="" required>
   <br><br>
   Birthday: <input type="date" name="birthday" id="" required>
   <br><br>
   Gender:
   <br>
   <input type="radio" name="gender" value="Male"> Male
   <input type="radio" name="gender" value="Female"> Female
   <br><br>
   Department:
   <select name="department" id="">
      <option value="Computing">Computing</option>
      <option value="Graphic Design">Graphic Design</option>
      <option value="Business">Business</option>
   </select>
   <br><br>
   Image: <input type="url" name="image" id="" required>
   <br><br>
   <input type="submit" value="Register">
</form>