<table border="1">
   <tr>
      <th>Brand name</th>
      <th>Brand country</th>
   </tr>
   {{#each brands }}
   <tr>
      <td>{{ name }}</td>
      <td>{{ country }}</td>
   </tr>
   {{/each}}
</table>