

<ol>
   {{#each countries }}
   <li>
      {{ this }}
   </li>
   {{/each}}
</ol>

<table border="1">
   <tr>
      <th style="color: red;">Sports</th>
   </tr>
   {{#each sports }}
      <tr>
         <td>{{ this }}</td>
      </tr>
   {{/each}}
</table>


