<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  </head>
  <body>
    <!-- header (chung) -->
    <ul class="nav justify-content-center  ">
        <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page">Active link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled link</a>
        </li>
    </ul>

    <!-- body (riêng) -->
    {{{body}}}

    <!-- footer (chung) -->
    <p>Copyright by Greenwich Vietnam</p>
  </body>
</html>
