<form action="/brand/add" method="post">
   <h1>Add new brand</h1>
   Brand name: <input type="text" name="name" id="" required>
   <br><br>
   Brand country: <input type="text" name="country" id="" required>
   <br><br>
   <input type="submit" value="Add">
</form>