<a class="btn btn-info" href="/mobile/add">Add new mobile</a>
<br><br>
<table class="table table-bordered">
   <tr>
      <th>Mobile model</th>
      <th>Mobile color</th>
      <th>Mobile brand</th>
      <th>Mobile image</th>
   </tr>
   {{#each mobiles }}
   <tr>
      <td>{{ model }}</td>
      <td>{{ color }}</td>
      <td>{{ brand.name }}</td>
      <td>
         <img src="{{ image }}" alt="" width="100" height="120">
      </td>
   </tr>
   {{/each}}
</table>